* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  
  header {
    display: flex;
    background-color: mediumvioletred;
    height: 50px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
   
  }

  
 header > img{
    width: 25px;
    height: 25px;
    
  }
  
  main {
    background-color: #f4f4f4;
    flex-grow: 1;
    display: flex;
  }



  li > img{
    width: 20px;
    height: 20px;
}
  

  li{
    list-style: none;
    font-weight: bold;
    padding: 10px  15px;

  }
  
  nav {
    background-color: #f2d0e0;
    width: 200px;
    font-size: 15px;
    flex-direction: column;
  }

  
  .grid-container {
    display: flex;
   
    flex-direction: row;
    align-items:flex-start
    /* display: grid;
    text-align: center;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows:  1fr,  1fr ;
    row-gap: 10px;
    column-gap: 10px;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
    justify-items: stretch;
    align-self: stretch; */

  }
  
  .item > img {
    width: 230px;
    height: 210px;
  }
  

.item{
    
    border: solid;
    
    

}

  .grid-container > h3 {
    font-weight: bold;
}



  footer {
    background-color: mediumvioletred;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  