/* Edições Gerais*/

*{
    margin: 0;
    padding: 0;

}

html {
    box-sizing: border-box;
  }
  
  
  body {
    
    background: white;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin: 20px;
    max-width: 700px;
    display: block;
   
  }
  
  div {
    min-height: 300px;  
    padding: 20px; 
    border-radius: 10px;  
    margin: 10px;
    text-align: center;
    margin-top: 200px;
    /* overflow: hidden; */
    
    
  }
  
  .purple {
    background-color: purple;
   
    
  }
  
  .green {
    background-color: green;
    
  }
  
  .orange {
    background-color: orangered;
    
  }

  .filho{
   display: block;
    background-color: white;
    width: 5%;
    text-align:  center;

  }

  .primeiro-filho{
  
    
  }
  
  
  /* exemplos aqui */
  
  .primeiro-elemento {
    /* height: 200px */
    display: block;
    width: 200%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    position: sticky;
    color: white;
    
  }
    
  
  .segundo-elemento {
  
    /* position: relative;
    top: 50px;
    right: 20px */
    display: block;
    width: 200%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    
  }



  .terceiro-elemento {
  
    /* position: relative;
    top: 50px;
    right: 20px */
    display: block;
    width: 200%;
    /* margin: 10px */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    
  }


img {
  margin-top: 300px;
  width: 30px;
}



/* header{
    background-color: lightblue;
    height: 80px;
    position: fixed;
    top: 0%;
    width: 100%;
}

footer{
    background-color: lightpink;
    height: 100px;
    
}
nav{
    background-color: yellow;
    height: 60px;
    /* position: sticky; */
    /* top: 0;
}
main{
    margin-top: 80px;
}
body{
    height: 100vh;
}

.container{
    height: 200vh;
    position: relative;
}

footer{

    /* position: absolute; */
    /* bottom: 0;
    width: 100%;
    margin-top: 500px; */
/* 
    background-color: white;
    height: 80px; */
/* }  */
  
  